html,body{
    height: 100%;
    width: 100%;
    background-color: wheat;
}
body{
    display: flex;
}

nav{
    background-color: red;
    width: 15%;
    margin-left: 1%;
}
.leftNavTitle {
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: green;
  }
.leftNavTitle img {
    width: 20%;
    margin-right: 5%;
  }

.ulNav{
    background-color: orange;
    list-style-type: none;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  
  .liNavItem {
    margin-bottom: 5%;
  }
  .navOption {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: left;
    color: #333;
  }
  .optionIcon {
    width: 25px; /* Ancho del icono */
    height: 25px; /* Alto del icono */
    background-size: cover;
    margin-right: 15px; /* Espacio entre el icono y el texto */
  }
  .optionIcon.home{
    background-image: url('./assets/navAssets/home.png');
  }
.headerMaincontainer{
    width: 85%;
    display: flex;
    flex-direction: column;
}
header{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.topHeaderContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: orange;
}
.searchHeaderContainer{
    margin: 0;
    margin-left: 2%;
    width: 70%;
    background-color: yellow;
    display: flex;
    align-items: center;
}
.searchHeaderContainer img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.searchHeaderContainer input{
    width: 70%;
    height: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.582);
}
.profileTopHeaderContainer{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.notificationImgTopHeader{
  margin-right: 30px;
  width: 20px;
  height: 20px;
}
.profileImgTopHeader{
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.downHeaderContainer{
  display: flex;
  background-color: greenyellow;
}
.profileDownHeaderContainer{
  background-color: indianred;
  margin-left: 2%;
  width: 55%;
  display: flex;
  align-items: center;
}
.profileDownHeaderContainer img{
  width: 80px;
  height: 80px;
}
.nameContainerDownHeader{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.nameContainerDownHeader h1,p{
  margin: 0;
}
.buttonsContainerDownHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
  width: 30%;
}
.buttonsContainerDownHeader button{
  background-color: greenyellow;
  height: 50%;
  width: 29%;
  border-radius: 20px;
}
main{
    margin-left: 1%;
    display: flex;
    background-color: blueviolet;
}
main h2{
  grid-column-start: 1;
}
.gridProjectsContainer{
  background-color: aquamarine;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
}
.gridProjectsContainer.cardProject{
  grid-row-start: 2;
}
.gridNewsContainer{
  background-color: azure;
}
