/* ------------------------------------------------------------------------------ */
/* -----------------------SCROLL BAR STYLES-------------------------------------- */
/* ------------------------------------------------------------------------------ */
/* General styles */
::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
  }
/* Thumb styles */
  ::-webkit-scrollbar-thumb {
    background-color: #beeb6b; 
    border-radius: 10px; 
  }
  /* Hover styles */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #439A97; 
  }
  /* Scroll bar styles */
  ::-webkit-scrollbar-track {
    background-color: #CBEDD5; 
    border-radius: 10px; 
  }
  ::-webkit-scrollbar-button {
    display: none; 
  }

html,body{
    margin: 0;
    height: auto;
    width: 100%;
    background-color: #9BE8D8;
    color: #002B5B;
    font-weight: bold;
}
body{
    display: flex;
    height: 100%;
}
#prueba{
  display: none;
}
/* ------------------------------------------------------------------------------ */
/* -----------------------LEFT NAV BAR STYLES-------------------------------------- */
/* ------------------------------------------------------------------------------ */
nav{
    padding-top: 1%;
    width: 18%;
    margin-left: 2%;
    color: #002B5B;
    border-right: 1px solid #E2F6CA;
}
.leftNav{
    position: sticky;
    top: 0;
    height: 100vh;
}
.leftNavTitle {
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
  }
.leftNavTitle img {
    width: 20%;
    margin-right: 5%;
  }

.ulNav{
    list-style-type: none;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  
  .liNavItem {
    margin-bottom: 5%;
  }
  .navOption {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: left;
    color: #002B5B;
    font-weight: bold;
    font-size: larger;
  }
  .optionIcon {
    width: 25px; 
    height: 25px; 
    background-size: cover;
    margin-right: 15px; 
  }

/* ------------------------------------------------------------------------------ */
/* -----------------------HEADER STYLES-------------------------------------- */
/* ------------------------------------------------------------------------------ */
.headerMaincontainer{
    margin: 0;
    position: sticky;
    width: 85%;
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    background-color: #9BE8D8;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 10%);
}

.topHeaderContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.searchHeaderContainer{
    margin: 0;
    margin-left: 2%;
    width: 70%;
    display: flex;
    align-items: center;
}
.searchHeaderContainer img{
    height: 30px;
    margin-right: 20px;
}
.searchHeaderContainer input{
    width: 70%;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #8FE3CF;
    outline: 1px solid #62b6b779;
}
.profileTopHeaderContainer{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationImgTopHeader{
  margin-right: 30px;
  width: 30px;
  height: 30px;
}
.profileImgTopHeader{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.downHeaderContainer{
  display: flex;
}
.profileDownHeaderContainer{
  margin-left: 2%;
  width: 55%;
  display: flex;
  align-items: center;
}
.profileDownHeaderContainer img{
  height: 90px;
}
.nameContainerDownHeader{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nameContainerDownHeader h1,p{
  margin: 0;
}
.buttonsContainerDownHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.buttonsContainerDownHeader button{
  height: 50%;
  width: 29%;
  border-radius: 20px;
  border: none;
  background-color: #8FE3CF;
  color: #002B5B;
  box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 10%);
  border:1px solid #022f630a; ;
}

/* ------------------------------------------------------------------------------ */
/* -----------------------MAIN CONTENT STYLES-------------------------------------- */
/* ------------------------------------------------------------------------------ */
main{
    margin-top: 30px;
    width:98%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
}
main h2{
    margin: 30px 0 0;
    font-size: 30px;
}
.gridProjectsContainer{
  width: 90%;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-auto-rows: auto; 
  column-gap: 60px;
  row-gap: 20px;
  border-right: 1px solid #E2F6CA;
}

.cardProject.first{
    grid-column-start: 1;
}
.cardProject{
    border-radius: 10px;
    border:1px solid #022f630a; ;
    border-left: 10px solid #002B5B; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.gridProjectsContainer > :not(.gridTitle) {
    grid-row: span 2;
  }
.cardProject h3,
.cardProject p{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}
.cardProject img{
    margin: 20px 5px 0 0;
}

.buttonsCardContainer{
    display: flex;
    justify-content: end;
}
.buttonsCardContainer img{
    height: 28px;
    margin-left: 20px;
}

/* ------------------------------------------------------------------------------ */
/* -----------------------ANNOUNCEMENTS STYLES-------------------------------------- */
/* ------------------------------------------------------------------------------ */
.gridNewsContainer{
  display: flex;
  flex-direction: column;
}
.gridNewsContainer h2{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 30px;
  }
.announcementsContainer{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  border:1px solid #022f630a; ;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
}  

.divNew{
    margin-top: 20px;
    border-bottom: 1px solid beige;
    width: 80%;
}
.divNew h4{
   margin: 5px 0 5px 0;
}
.divNew p{
  margin-bottom: 10px;
}
.divNew img{
    height: 70px;
 }

/* ------------------------------------------------------------------------------ */
/* -----------------------TRENDING STYLES-------------------------------------- */
/* ------------------------------------------------------------------------------ */

  .trendingsContainer{
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
      border:1px solid #022f630a; ;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      padding: 10px;
      border-radius: 20px;
  }  
  
  .divNew.divTrending{
      display: flex;
      align-items: center;
  }
.trendingNewText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.trendingNewText p{
  margin-top: 3px;
}


/* ------------------------------------------------------------------------------ */
/* -----------------------BUTTONS AND IMG. HOVER AND ACTIVE STYLES--------------- */
/* ------------------------------------------------------------------------------ */
button:hover{
  cursor: pointer;
  box-shadow: 10px 10px 5px 0 rgb(0 0 0 / 15%);
  border:1px solid #022f630a; 
}
button:active,
li:active,
img:active {
  transform: translateY(3px); 
}
.cardProject img:hover{
  cursor: pointer;
  box-shadow: 10px 10px 10px 0 rgb(0 0 0 / 10%);
}



@media (min-width: 2000px)  {
  *{
    font-size: 20px;
  }
  .gridProjectsContainer{
    grid-template-columns: 600px 600px;
    column-gap: 150px;
    row-gap: 60px;
  }
}

@media (min-width: 1100px) and (max-width:1400px)  {
  *{
    font-size: 15px;
  }
  .gridProjectsContainer{
    grid-template-columns: 300px 300px;
    column-gap: 40px;
    row-gap: 40px;
  }
  .gridNewsContainer img{
    height: 45px;
  }
  .gridNewsContainer h2{
    font-size: 25px;
  }
  .gridProjectsContainer h2{
    font-size: 25px;
  }
  .gridProjectsContainer img{
    height: 20px;
  }
  .optionIcon {
    width: 20px; 
    height: 20px; 
    margin-right: 15px; 
  }
  header{
    height: 170px;
  }
  .searchHeaderContainer img,
  .profileTopHeaderContainer img{
    height: 30px;
  }
  .searchHeaderContainer input{
    height: 20px;
  }
  .profileDownHeaderContainer img{
    height: 40px;
  }
  .buttonsContainerDownHeader button{
    height: 100%;
  }
}

@media (min-width: 750px) and (max-width:1099px)  {
  .trending{
    margin-left: 20px;
  }
  *{
    font-size: 15px;
  }
  .gridProjectsContainer{
    grid-template-columns: 400px ;
    row-gap: 40px;
  }
  .gridNewsContainer{
    margin-top: 20px;
  }
  .gridNewsContainer img{
    height: 45px;
  }
  .gridNewsContainer h2{
    font-size: 25px;
  }
  .gridProjectsContainer h2{
    font-size: 25px;
  }
  .gridProjectsContainer img{
    height: 20px;
  }
  .optionIcon {
    width: 20px; 
    height: 20px; 
    margin-right: 15px; 
  }
  header{
    height: 170px;
  }
  .searchHeaderContainer img,
  .profileTopHeaderContainer img{
    height: 30px;
  }
  .searchHeaderContainer input{
    height: 20px;
  }
  .profileDownHeaderContainer img{
    height: 40px;
  }
  .buttonsContainerDownHeader button{
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width:375px)  {
  .leftNav {
    /* color: transparent; */
    width: 0px;
    transition: width 1s ease-in-out;
  }
  #Privacy,
  #Support{
    color: transparent;
  }
  .expanded {
    width: 300px; /* Ancho aumentado al aplicar la clase "expanded" */
  }
  
  .show {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    display: none;
  }

  #menuButton{
    display: block;
    text-align: end;
  }
  *{
    font-size: 10px;
  }
  .headerMaincontainer{
    width: 99%;
  }
  header{
    height: 150px;
  }
  .searchHeaderContainer{
    margin: 0;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .searchHeaderContainer img,
  .profileTopHeaderContainer img{
    height: 15px;
  }
  .searchHeaderContainer input{
    height: 10px;
    width: 60%;
  }
  .profileDownHeaderContainer img{
    height: 25px;
  }
  .buttonsContainerDownHeader button{
    height: 20px;
    width: 38px;
    margin-right: 1px;
  }
  .notificationImgTopHeader{
    margin-right: 5px;
  }
  .searchHeaderContainer img{
    height: 15px;
    margin-right: 5px;
}
 
  li{
    padding-bottom: 5px;
  }
  .optionIcon {
    width: 13px; 
    height: 13px; 
    margin-right: 5px; 
  }
  main{
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .gridProjectsContainer{
    justify-content: center;
    grid-template-columns: 200px ;
    row-gap: 20px;
  }
  .cardProject{
    padding: 10px 10px 10px 10px;
  }

  .gridNewsContainer img{
    height: 40px;
  }
  .gridNewsContainer h2{
    font-size: 20px;
  }
  .gridProjectsContainer h2{
    font-size: 20px;
  }
  .gridProjectsContainer img{
    height: 20px;
  }
  
}